<h2 mat-dialog-title>{{ (isEditMode ? "edit_user_dialog.edit" : "edit_user_dialog.create") | translate }}</h2>
<mat-dialog-content class="d-flex flex-column overflow-auto gap-3 dialog-content"
                    [ngClass]="{ 'dialog-expanded': userFormGroup.controls.country.value }">
    <div class="mt-4" [formGroup]="userFormGroup">
        <h5 class="container-header">{{ "edit_user_dialog.user_information" | translate }}</h5>
        <div class="row">
            <mat-form-field class="col">
                <mat-label>{{ "user.first_name" | translate }}</mat-label>
                <input matInput formControlName="firstName"/>
                @if (userFormGroup.controls.firstName.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="col">
                <mat-label>{{ "user.last_name" | translate }}</mat-label>
                <input matInput formControlName="lastName"/>
                @if (userFormGroup.controls.lastName.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col">
                <mat-label>{{ "user.email" | translate }}</mat-label>
                <input matInput formControlName="email"/>
                @if (userFormGroup.controls.email.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="col">
                <mat-label>{{ "user.phone" | translate }}</mat-label>
                <input matInput formControlName="phone"/>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col">
                <mat-label>{{ "user.role" | translate }}</mat-label>
                <mat-select formControlName="role">
                    @for (role of UserRole | keyvalue; track role) {
                        <mat-option [value]="role.key">{{ role.key }}</mat-option>
                    }
                </mat-select>
                @if (userFormGroup.controls.role.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="col">
                <mat-label>{{ "ecmr_editor.successive_carrier_information.country" | translate }}</mat-label>
                <input matInput type="text" formControlName="country" maxlength="2" class="text-uppercase"
                       [matAutocomplete]="countryAutocomplete">
                <mat-autocomplete #countryAutocomplete="matAutocomplete">
                    @for (country of filteredCountries | async; track country) {
                        <mat-option [value]="country">{{ country }}</mat-option>
                    }
                </mat-autocomplete>
                @if (userFormGroup.controls.country.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                }
            </mat-form-field>
        </div>
    </div>
    @if (userFormGroup.controls.country.value) {
        <h5 class="container-header">{{ "edit_user_dialog.locations_and_groups" | translate }}</h5>
        <form [formGroup]="locationsAndGroups" class="d-flex flex-row overflow-auto w-100">
            <div formArrayName="locations" class="d-flex flex-row overflow-auto gap-3 w-100 p-3">
                <ng-container *ngFor="let locationControl of locationsAndGroups.controls.locations.controls; let i = index" [formGroupName]="i">
                    <mat-card class="w-25 p-3 location-card overflow-auto">
                        <div class="d-flex flex-row w-100 gap-2">
                            <mat-form-field class="flex-grow-1">
                                <mat-label>{{ "edit_user_dialog.location" | translate }} {{ i + 1 }}</mat-label>
                                <mat-select formControlName="location" [compareWith]="compareLocationFn" (selectionChange)="locationChange($event)">
                                    @for (location of unusedLocations; track location) {
                                        <mat-option [value]="location"
                                                    [ngClass]="!isLocationUsed(location) ?
                                            'visible' : 'invisible'">
                                            {{ location.name }}
                                        </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                            <button mat-icon-button color="warn" *ngIf="locationControl.controls.location.value !== null"
                                    (click)="removeLocation(locationControl)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                        <div formArrayName="groups" class="flex-grow-1 d-flex flex-column">
                            <ng-container *ngFor="let groupControl of locationControl.controls.groups.controls; let j = index" [formGroupName]="j">
                                <div class="d-flex flex-row align-items-start gap-2">
                                    <div class="group-line"></div>
                                    <mat-form-field class="flex-grow-1">
                                        <mat-label>{{ "edit_user_dialog.group" | translate }} {{ j + 1 }}</mat-label>
                                        <mat-select formControlName="group" [compareWith]="compareGroupFn">
                                            <mat-option *ngFor="let group of locationControl.controls.groupsList.value"
                                                        [ngClass]="!isGroupUsed(group, locationControl.controls.groups) ?'visible' : 'invisible'"
                                                        [value]="group">{{ group.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-icon-button color="warn" *ngIf="groupControl.controls.group.value !== null"
                                            (click)="removeGroup(locationControl, groupControl.controls.group.value)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </mat-card>
                </ng-container>
            </div>
        </form>
    }
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-flat-button color="warn" (click)="closeDialog()">{{ "common.cancel" | translate }}</button>
    <button mat-flat-button color="primary" (click)="saveUser()">{{ "common.save" | translate }}</button>
</mat-dialog-actions>