<h2 mat-dialog-title>{{ (isEditMode ? "edit_user_dialog.edit" : "edit_user_dialog.create") | translate }}</h2>
<mat-dialog-content class="d-flex flex-column overflow-auto gap-3 dialog-content">
    <div class="mt-4" [formGroup]="userFormGroup">
        <h5 class="container-header">{{ "edit_user_dialog.user_information" | translate }}</h5>
        <div class="row">
            <mat-form-field class="col">
                <mat-label>{{ "user.first_name" | translate }}</mat-label>
                <input matInput formControlName="firstName"/>
                @if (userFormGroup.controls.firstName.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="col">
                <mat-label>{{ "user.last_name" | translate }}</mat-label>
                <input matInput formControlName="lastName"/>
                @if (userFormGroup.controls.lastName.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col">
                <mat-label>{{ "user.email" | translate }}</mat-label>
                <input matInput formControlName="email"/>
                @if (userFormGroup.controls.email.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                } @if (userFormGroup.controls.email.hasError('invalidEmail')) {
                <mat-error>{{ "common.errors.invalid_email" | translate }}</mat-error>
            }
            </mat-form-field>
            <mat-form-field class="col">
                <mat-label>{{ "user.phone" | translate }}</mat-label>
                <input matInput formControlName="phone" [maxlength]="32" [placeholder]="'common.phone_prefix' | translate"/>
                @if (userFormGroup.controls.phone.hasError('invalidPhoneNumber')) {
                    <mat-error>{{ "common.errors.invalid_phone" | translate }}</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col">
                <mat-label>{{ "user.role" | translate }}</mat-label>
                <mat-select formControlName="role">
                    @for (role of UserRole | keyvalue; track role) {
                        <mat-option [value]="role.key">{{ role.key }}</mat-option>
                    }
                </mat-select>
                @if (userFormGroup.controls.role.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="col">
                <mat-label>{{ "ecmr_editor.successive_carrier_information.country" | translate }}</mat-label>
                <input matInput type="text" formControlName="country" maxlength="2" class="text-uppercase"
                       [matAutocomplete]="countryAutocomplete">
                <mat-autocomplete #countryAutocomplete="matAutocomplete">
                    @for (country of filteredCountries | async; track country) {
                        <mat-option [value]="country">{{ country }}</mat-option>
                    }
                </mat-autocomplete>
                @if (userFormGroup.controls.country.invalid) {
                    <mat-error>{{ "common.errors.required" | translate }}</mat-error>
                }
            </mat-form-field>
        </div>
    </div>
    <h5 class="container-header">{{ "edit_user_dialog.locations_and_groups" | translate }}</h5>
    <div class="row">
        <div class="col overflow-y-scroll tree-container">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [ngClass]="isSelected(node)? 'selected' : ''">
                    <button mat-icon-button disabled></button>
                    {{ node.name }}
                    @if (!isSelected(node)) {
                        <button [disabled]="isAuthenticatedUser" mat-icon-button (click)="selectGroup(node); $event.stopPropagation()" color="primary"
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                    }
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                               [ngClass]="isSelected(node)? 'selected' : ''">
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                        </mat-icon>
                    </button>
                    {{ node.name }}
                    @if (!isSelected(node)) {
                        <button [disabled]="isAuthenticatedUser" mat-icon-button (click)="selectGroup(node); $event.stopPropagation()" color="primary"
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                    }
                </mat-tree-node>
            </mat-tree>
        </div>
        <div class="col overflow-y-scroll list-container">
            @for (group of selectedGroups; track group) {
                <div class="list-item d-flex flex-row gap-2 justify-content-between align-items-center">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        @if (defaultGroupId !== group.id) {
                            <button [disabled]="isAuthenticatedUser" mat-icon-button
                                    (click)="removeItem(group)" color="warn">
                                <mat-icon>remove</mat-icon>
                            </button>
                        }
                        <div class="d-flex align-items-center">
                            {{ group.name }}
                        </div>
                    </div>
                    @if (defaultGroupId === group.id) {
                        <mat-icon class="favourite-button" (click)="setDefaultGroupId(null)"> {{ 'star' }}</mat-icon>
                    } @else {
                    <mat-icon class="favourite-button" (click)="setDefaultGroupId(group.id)"> {{ 'star_outline' }}</mat-icon>
                }
                </div>
            }
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton class="mat-warn" (click)="closeDialog()">
        {{ "common.cancel" | translate }}
        <mat-icon>close</mat-icon>
    </button>
    <button matButton (click)="saveUser()">
        {{ "common.save" | translate }}
        <mat-icon>save</mat-icon>
    </button>
</mat-dialog-actions>
