.tree-container,
.list-container {
  height: 300px;

  .mat-tree-node {
    border-bottom: 1px solid rgba(87, 87, 87, 0.24);
  }

  .mat-tree-node.selected {
    background-color: rgba(0, 183, 42, 0.13);
  }

  .mat-tree-node:not(.selected):hover {
    background-color: rgba(87, 87, 87, 0.24);
    cursor: pointer;
  }
}

.list-container {
  .list-item {
    height: 48.8px;
    border-bottom: 1px solid rgba(87, 87, 87, 0.24);
  }

  .list-item:hover {
    background-color: rgba(87, 87, 87, 0.24);
  }
}

.invisible {
  display: none;
}

.visible {
  display: flex;
}

.dialog-content {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 350px;
}

.dialog-expanded {
  max-height: 750px;
}

.favourite-button {
  color: yellow;
  cursor: pointer;
}
