<h2 mat-dialog-title> {{ 'share_ecmr_dialog.title' | translate }} - {{ data.ecmr.ecmrConsignment.referenceIdentificationNumber.value }} </h2>
<mat-dialog-content>
    <div class="d-flex flex-column w-100 mt-2 gap-2">

        <mat-button-toggle-group name="Ecmr Role" aria-label="Ecmr Role" #buttonToggle [vertical]="this.isMobile">
            @if (senderSharable) {
                <mat-button-toggle [value]="EcmrRole.Sender" [checked]="currentRole === EcmrRole.Sender" class="flex-grow-1"
                                   (change)="changeRole(EcmrRole.Sender)">
                    {{ 'share_ecmr_dialog.sender' | translate }}
                </mat-button-toggle>
            }
            @if (carrierSharable) {
                <mat-button-toggle [value]="EcmrRole.Carrier" [checked]="currentRole === EcmrRole.Carrier" class="flex-grow-1"
                                   (change)="changeRole(EcmrRole.Carrier)"
                >
                    {{ 'share_ecmr_dialog.carrier' | translate }}
                </mat-button-toggle>
            }
            @if (consigneeSharable) {
                    <mat-button-toggle [value]="EcmrRole.Consignee" class="flex-grow-1" [checked]="currentRole === EcmrRole.Consignee"
                                       (change)="changeRole(EcmrRole.Consignee)"
                    >
                        {{ 'share_ecmr_dialog.consignee' | translate }}
                    </mat-button-toggle>
            }
            <mat-button-toggle [value]="EcmrRole.Reader" class="flex-grow-1" [checked]="currentRole === EcmrRole.Reader"
                               (change)="changeRole(EcmrRole.Reader)">
                {{ 'share_ecmr_dialog.share_pdf' | translate }}
            </mat-button-toggle>
        </mat-button-toggle-group>

        @if (currentRole !== EcmrRole.Reader) {
            <div class="d-flex w-100 flex-wrap flex-column align-items-center mt-2">
                <mat-form-field class="w-100">
                    @if (canSelectSearch) {
                        <button mat-button matPrefix [matMenuTriggerFor]="menu" (click)="preventInputFocusOnMenuClick($event)">
                            <mat-icon>{{ selectedSearch.icon }}</mat-icon>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    } @else {
                        <mat-icon matIconPrefix>email</mat-icon>
                    }
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="selectSearchMode(SearchMode.EMAIL)">
                            <mat-icon>{{ searchOptionsMap.Email.icon }}</mat-icon>
                            {{ searchOptionsMap.Email.labelKey| translate }}
                        </button>
                        <button mat-menu-item (click)="selectSearchMode(SearchMode.GROUP)">
                            <mat-icon>{{ searchOptionsMap.Group.icon }}</mat-icon>
                            {{ searchOptionsMap.Group.labelKey| translate }}
                        </button>
                    </mat-menu>

                    <mat-label>
                        {{ selectedSearch.labelKey| translate }}
                    </mat-label>

                    @if (selectedSearch.mode === SearchMode.EMAIL) {
                        <input matInput [formControl]="emailFormControl" [matAutocomplete]="emailAutoComplete">
                        <mat-autocomplete #emailAutoComplete="matAutocomplete">
                            @for (user of filteredUserList; track user) {
                                <mat-option [value]="user">{{ user }}</mat-option>
                            }
                        </mat-autocomplete>
                    } @else {
                        <input matInput [formControl]="groupFormControl" [matAutocomplete]="groupAutoComplete">
                        <mat-autocomplete #groupAutoComplete="matAutocomplete" [displayWith]="displayGroupFn">
                            @for (group of filteredGroupList; track group) {
                                <mat-option [value]="group">{{ group.name }} <span class="description ms-1">{{ group.description }}</span>
                                </mat-option>
                            }
                        </mat-autocomplete>
                        <span class="description ms-1">{{ getSelectedGroupOption()?.description }}</span>
                    }
                    @if ((selectedSearch.mode === SearchMode.EMAIL && emailFormControl.hasError('required'))
                    || (selectedSearch.mode === SearchMode.GROUP && groupFormControl.hasError('required'))) {
                        <mat-error>{{ "error.required" | translate }}</mat-error>
                    }
                </mat-form-field>
                <button matButton="filled" class="w-100" (click)="share()"
                        [disabled]="groupFormControl.invalid && emailFormControl.invalid">
                    {{ 'common.share' |translate }}
                    <mat-icon>share</mat-icon>
                </button>
                @let token = ecmrToken();
                @if (token && (authService.getAuthenticatedUser() | async)) {
                    <div class="external-sharing-container">
                        <mat-divider></mat-divider>
                        <h3>External Sharing</h3>
                        <app-external-user-registration [ecmrId]="data.ecmr.ecmrId!" [ecmrToken]="token" [roleToShare]="currentRole"
                                                        [dialogRef]="dialogRef"/>
                    </div>
                }

                <div class="w-100 divide-container d-flex flex-row gap-3 align-items-center">
                    <div class="divider flex-grow-1"></div>
                    <div class="divide-text">{{ 'share_ecmr_dialog.share_via_qr' | translate }}</div>
                    <div class="divider flex-grow-1"></div>
                </div>
            </div>
        }
        <div>
            <div class="d-flex w-100 justify-content-center mt-2">
                <qrcode #qrcodeElement
                        [qrdata]="shareString"
                        [allowEmptyString]="true"
                        [elementType]="'canvas'"
                        [errorCorrectionLevel]="'H'"
                        [margin]="2"
                        [scale]="1"
                        [width]="300"/>
            </div>
            <div class="d-flex flex-row w-100 justify-content-center gap-2">
                <button matTooltip="{{'share_ecmr_dialog.copy_link' | translate}}" mat-icon-button color="accent" aria-label="Copy Link"
                        (click)="copyLink()">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </div>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button matButton class="mat-warn" (click)="closeDialog()">
        {{ 'common.close' | translate }}
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
