<div class="dialog-content">
    <button mat-icon-button class="close-button" (click)="closePad()" tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
    <canvas #signaturePad class="signature-pad"></canvas>
    <div class="button-container">
        <button mat-flat-button color="accent" (click)="clearPad()">
            <mat-icon>backspace</mat-icon>
            {{ "signature.clear" | translate }}
        </button>
        <button mat-flat-button color="primary" (click)="savePad()" [disabled]="isNotSigned()">
            <mat-icon>save</mat-icon>
            {{ "common.save" | translate }}
        </button>
    </div>
</div>