<mat-drawer-container [hasBackdrop]="false" class="h-100">
    <mat-drawer [position]="'end'" [opened]="selectedEcmr !== null" class="detail-view" [ngClass]="isMobile?'detail-view-mobile' :
    'detail-view'"
                [mode]="'side'">
        @if (selectedEcmr) {
            <app-ecmr-overview-details (closeDetails)="closeDetailView($event)"
                                       [quickViewButtons]="quickViewButtons"
                                       [mobileQuickViewButtons]="mobileQuickViewButtons"
                                       [isMobile]="isMobile"
                                       [selectedEcmr]="selectedEcmr"></app-ecmr-overview-details>
        }
    </mat-drawer>
    <article class="h-100">
        <section class="d-flex flex-column h-100 overflow-hidden">
            <mat-toolbar class="action-bar-shadow">
                <mat-toolbar-row class="d-flex flex-row justify-content-between">
                    <mat-label>{{ 'overview.title' | translate }}</mat-label>
                    <div class="search-bar-container">
                        <button mat-flat-button class="search-bar-button" color="primary" (click)="createNewEcmr()">
                            <mat-icon iconPositionEnd>add</mat-icon>
                            {{ 'overview.create_new' | translate }}
                        </button>
                        @if (!isMobile) {
                            <button mat-flat-button (click)="importEcmr()">{{ 'overview.import' | translate }}
                                <mat-icon iconPositionEnd>upload_file</mat-icon>
                            </button>
                        } @else {
                            <button mat-flat-button class="download-button-mobile" (click)="importEcmr()">
                                <mat-icon>upload_file</mat-icon>
                            </button>
                        }
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>

            <!-- Overview Table Container -->
            <app-ecmr-table [actionButtons]="actionButtons" [mobileActionButtons]="mobileActionButtons" [ecmr]="ecmr"
                            (selectedEcmr)="selectEcmr($event)"
                            class="h-100 overflow-x-auto overflow-y-hidden">
            </app-ecmr-table>
        </section>
    </article>

    <ng-template #quickViewButtons let-ecmr>
        <div>
            <button class="m-1" mat-flat-button color="primary" (click)="moveToArchive(ecmr.ecmrId)">Archive
                <mat-icon iconPositionEnd>archive</mat-icon>
            </button>
            <button class="m-1" mat-flat-button color="primary" (click)="ecmrActionService.downloadPdf(ecmr.ecmrId)">PDF
                <mat-icon iconPositionEnd>picture_as_pdf</mat-icon>
            </button>
            <button class="m-1" mat-flat-button color="primary" (click)="editEcmr(ecmr.ecmrId)">Edit
                <mat-icon iconPositionEnd>edit_note</mat-icon>
            </button>
            <button class="m-1" mat-stroked-button (click)="this.ecmrActionService.onCopyEcmr(ecmr.ecmrId)">Copy
                <mat-icon iconPositionEnd>content_copy</mat-icon>
            </button>
            <button class="m-1" mat-stroked-button>Share
                <mat-icon iconPositionEnd>share</mat-icon>
            </button>
        </div>
    </ng-template>

    <ng-template #mobileQuickViewButtons let-ecmr>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button class="m-1" mat-menu-item (click)="moveToArchive(ecmr.ecmrId)">Archive
                <mat-icon>archive</mat-icon>
            </button>
            <button class="m-1" mat-menu-item (click)="ecmrActionService.downloadPdf(ecmr.ecmrId)">PDF
                <mat-icon>picture_as_pdf</mat-icon>
            </button>
            <button class="m-1" mat-menu-item (click)="editEcmr(ecmr.ecmrId)">Edit
                <mat-icon>edit_note</mat-icon>
            </button>
            <button class="m-1" mat-menu-item (click)="this.ecmrActionService.onCopyEcmr(ecmr.ecmrId)">Copy
                <mat-icon>content_copy</mat-icon>
            </button>
            <button class="m-1" mat-menu-item>Share
                <mat-icon>share</mat-icon>
            </button>
        </mat-menu>
    </ng-template>

    <ng-template #actionButtons let-ecmr>
        <button mat-icon-button (click)="shareEcmr(ecmr);$event.stopPropagation()" matTooltip="{{'overview.tooltips.share' | translate}}">
            <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button (click)="editEcmr(ecmr.ecmrId);$event.stopPropagation()" matTooltip="{{'overview.tooltips.edit' | translate}}">
            <mat-icon>edit_note</mat-icon>
        </button>
        <button mat-icon-button (click)="historyOfEcmr();$event.stopPropagation()" matTooltip="{{'overview.tooltips.history' | translate}}">
            <mat-icon>history</mat-icon>
        </button>
        @if(deleteButtonVisible(ecmr)) {
            <button mat-icon-button (click)="deleteEcmr(ecmr.ecmrId);$event.stopPropagation()"
                    matTooltip="{{'overview.tooltips.delete' | translate}}">
                <mat-icon color="warn">delete</mat-icon>
            </button>
        }
    </ng-template>
    <ng-template #mobileActionButtons let-ecmr>
        <button mat-icon-button class="my-3" (click)="shareEcmr(ecmr)">
            <mat-icon color="primary" style="transform: scale(1.4)">share</mat-icon>
        </button>
        <button mat-icon-button class="my-3" (click)="editEcmr(ecmr.ecmrId)">
            <mat-icon color="primary" style="transform: scale(1.4)">edit_note</mat-icon>
        </button>
        <button mat-icon-button class="my-3" (click)="selectEcmr(ecmr)">
            <mat-icon color="primary" style="transform: scale(1.4)">visibility</mat-icon>
        </button>
        <button mat-icon-button class="my-3" (click)="ecmrActionService.downloadPdf(ecmr.ecmrId)">
            <mat-icon color="primary" style="transform: scale(1.4)">picture_as_pdf</mat-icon>
        </button>
    </ng-template>
</mat-drawer-container>


