<mat-drawer-container [hasBackdrop]="false" class="h-100">
    <mat-drawer [position]="'end'" [opened]="selectedEcmr !== null" class="detail-view" [class.detail-view-mobile]="isMobile"
                [mode]="'side'">
        @if (selectedEcmr) {
            <app-ecmr-overview-details (closeDetails)="closeDetailView($event)"
                                       [quickViewButtons]="quickViewButtons"
                                       [mobileQuickViewButtons]="mobileQuickViewButtons"
                                       [isMobile]="isMobile"
                                       [selectedEcmr]="selectedEcmr"
                                       [selectedSealMetadata]="selectedEcmrSealMetadata"/>
        }
    </mat-drawer>
    <article class="h-100">
        <section class="d-flex flex-column h-100 overflow-hidden">
            <mat-toolbar>
                <mat-toolbar-row class="d-flex flex-row justify-content-between">
                    <h6>{{ 'overview.title' | translate }}</h6>
                    <div class="search-bar-container">
                        @if(selectedEcmrs.length > 0) {
                            <button mat-flat-button color="primary" (click)="bulkMoveToArchive()">
                                <mat-icon iconPositionEnd>archive</mat-icon>
                                {{ 'overview.multiselect.archive' | translate }}
                            </button>
                            @if(bulkDeleteButtonVisible()) {
                                @if(!isMobile) {
                                    <button mat-flat-button color="warn" (click)="bulkDelete()">
                                        <mat-icon iconPositionEnd>delete</mat-icon>
                                        {{ 'overview.multiselect.delete' | translate }}
                                    </button>
                                }
                                @else {
                                    <button mat-flat-button class="button-mobile" color="warn" (click)="bulkDelete()">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                }
                            }
                        }
                        @else {
                            <button matButton="filled" class="search-bar-button" (click)="createNewEcmr()">
                                <mat-icon iconPositionEnd>add</mat-icon>
                                {{ 'overview.create_new' | translate }}
                            </button>
                            <!--TODO add internal export-->
                            @if (!isMobile) {
                                <button matButton="tonal" (click)="importExternalEcmr()">{{ 'overview.import' | translate }}
                                    <mat-icon iconPositionEnd>upload_file</mat-icon>
                                </button>
                            } @else {
                                <button matIconButton (click)="importExternalEcmr()">
                                    <mat-icon>upload_file</mat-icon>
                                </button>
                            }
                        }
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>

            <!-- Overview Table Container -->
            <app-ecmr-table [actionButtons]="actionButtons" [mobileActionButtons]="mobileActionButtons" [ecmr]="ecmr"
                            [initialSort]="initialSort" [ecmrType]="ecmrType"
                            [enableMultiselection]="true"
                            (selectedEcmr)="selectEcmr($event)"
                            (selectedEcmrs)="onSelectedEcmrs($event)"
                            (filterRequest)="onFilterRequest($event)"
                            class="h-100 overflow-x-auto overflow-y-hidden"/>
        </section>
    </article>

    <ng-template #quickViewButtons let-ecmr>
        <div>
            @if (filesForSelectedEcmr().length > 0) {
                <button matButton="filled" (click)="openFileDialog()">
                    {{ filesForSelectedEcmr().length + " Anhänge" }}
                    <mat-icon>attach_file</mat-icon>
                </button>
            } @else {
                <app-file-selector-button (filesSelected)="selectedFiles.set($event)"/>
            }
            <button class="m-1" mat-flat-button color="primary" (click)="moveToArchive(ecmr.ecmrId)">{{ 'quick_view_buttons.archive' | translate }}
                <mat-icon iconPositionEnd>archive</mat-icon>
            </button>
            <button class="m-1" mat-flat-button color="primary"
                    (click)="ecmrActionService.downloadPdf(ecmr.ecmrId, null, null, ecmr.ecmrConsignment.referenceIdentificationNumber.value)">
                {{ 'quick_view_buttons.pdf' | translate }}
                <mat-icon iconPositionEnd>picture_as_pdf</mat-icon>
            </button>
            <button class="m-1" mat-flat-button color="primary"
                    [disabled]="ecmr.ecmrStatus === EcmrStatus.DELIVERED"
                    (click)="editEcmr(ecmr.ecmrId)">
                {{ 'quick_view_buttons.edit' | translate }}
                <mat-icon iconPositionEnd>edit_note</mat-icon>
            </button>
            <button class="m-1" mat-stroked-button
                    (click)="this.ecmrActionService.onCopyEcmr(ecmr.ecmrId)">{{ 'quick_view_buttons.copy' | translate }}
                <mat-icon iconPositionEnd>content_copy</mat-icon>
            </button>
            <button class="m-1" mat-stroked-button (click)="shareEcmr(ecmr)">
                {{ 'quick_view_buttons.share' | translate }}
                <mat-icon iconPositionEnd>share</mat-icon>
            </button>
            <button class="m-1" mat-stroked-button
                    (click)="historyOfEcmr(ecmr.ecmrId,ecmr.ecmrConsignment.referenceIdentificationNumber.value);">
                {{ 'quick_view_buttons.history' | translate }}
                <mat-icon iconPositionEnd>history</mat-icon>
            </button>
        </div>
    </ng-template>

    <ng-template #mobileQuickViewButtons let-ecmr>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button class="m-1" mat-menu-item (click)="moveToArchive(ecmr.ecmrId)">{{ 'quick_view_buttons.archive' | translate }}
                <mat-icon>archive</mat-icon>
            </button>
            <button class="m-1" mat-menu-item
                    (click)="ecmrActionService.downloadPdf(ecmr.ecmrId, null, null, ecmr.ecmrConsignment.referenceIdentificationNumber.value)">
                {{ 'quick_view_buttons.pdf' | translate }}
                <mat-icon>picture_as_pdf</mat-icon>
            </button>
            <button class="m-1" mat-menu-item
                    [disabled]="ecmr.ecmrStatus === EcmrStatus.DELIVERED"
                    (click)="editEcmr(ecmr.ecmrId)">
                {{ 'quick_view_buttons.edit' | translate }}
                <mat-icon>edit_note</mat-icon>
            </button>
            <button class="m-1" mat-menu-item (click)="this.ecmrActionService.onCopyEcmr(ecmr.ecmrId)">{{ 'quick_view_buttons.copy' | translate }}
                <mat-icon>content_copy</mat-icon>
            </button>
            <button class="m-1" mat-menu-item (click)="shareEcmr(ecmr)">{{
                    'quick_view_buttons.share' |
                        translate
                }}
                <mat-icon>share</mat-icon>
            </button>
        </mat-menu>
    </ng-template>

    <ng-template #actionButtons let-ecmr>
        <button mat-icon-button (click)="signEcmr(ecmr.ecmrId);$event.stopPropagation()"
                [disabled]="ecmr.ecmrStatus === EcmrStatus.DELIVERED"
                matTooltip="{{'overview.tooltips.sign' | translate}}">
            <mat-icon>draw</mat-icon>
        </button>
        <button mat-icon-button
                (click)="shareEcmr(ecmr);$event.stopPropagation()"
                matTooltip="{{'overview.tooltips.share' | translate}}">
            <mat-icon>share</mat-icon>
        </button>
        @if (deleteButtonVisible(ecmr)) {
            <button mat-icon-button (click)="deleteEcmr(ecmr.ecmrId);$event.stopPropagation()"
                    matTooltip="{{'overview.tooltips.delete' | translate}}">
                <mat-icon color="warn">delete</mat-icon>
            </button>
        }
    </ng-template>
    <ng-template #mobileActionButtons let-ecmr>
        <button mat-icon-button class="my-3"
                [disabled]="ecmr.ecmrStatus === EcmrStatus.DELIVERED"
                (click)="editEcmr(ecmr.ecmrId)">
            <mat-icon style="transform: scale(1.4)">edit_note</mat-icon>
        </button>
        <button mat-icon-button class="my-3"
                [disabled]="ecmr.ecmrStatus === EcmrStatus.DELIVERED"
                (click)="signEcmr(ecmr.ecmrId)">
            <mat-icon style="transform: scale(1.4)">draw</mat-icon>
        </button>
        <button mat-icon-button class="my-3" (click)="selectEcmr(ecmr)">
            <mat-icon style="transform: scale(1.4)">visibility</mat-icon>
        </button>
        <button mat-icon-button class="my-3" (click)="shareEcmr(ecmr)">
            <mat-icon color="primary" style="transform: scale(1.4)">share</mat-icon>
        </button>
        <button mat-icon-button class="my-3"
                (click)="ecmrActionService.downloadPdf(ecmr.ecmrId, null,null, ecmr.ecmrConsignment.referenceIdentificationNumber.value)">
            <mat-icon style="transform: scale(1.4)">picture_as_pdf</mat-icon>
        </button>
    </ng-template>
</mat-drawer-container>


