<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <mat-card [formGroup]="externalUser" class="d-flex flex-column gap-2 registration-container p-3">
        <mat-card-header>
            <mat-card-title>{{ 'external_user_registration.title' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-form-field>
            <mat-label>{{ 'external_user_registration.first_name' | translate }}</mat-label>
            <input matInput formControlName="firstName">
            <mat-icon matIconPrefix>badge</mat-icon>
            @if (externalUser.controls.firstName.hasError('required')) {
                <mat-error>{{ "error.required" | translate }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'external_user_registration.last_name' | translate }}</mat-label>
            <input matInput formControlName="lastName">
            <mat-icon matIconPrefix>badge</mat-icon>
            @if (externalUser.controls.lastName.hasError('required')) {
                <mat-error>{{ "error.required" | translate }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'external_user_registration.phone' | translate }}</mat-label>
            <input matInput formControlName="phone" [maxlength]="32" [placeholder]="'common.phone_prefix' | translate">
            <mat-icon matIconPrefix>call</mat-icon>
            @if (externalUser.controls.phone.hasError('required')) {
                <mat-error>{{ "error.required" | translate }}</mat-error>
            }
            @if (externalUser.controls.phone.hasError('invalidPhoneNumber')) {
                <mat-error>{{ "common.errors.invalid_phone" | translate }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'external_user_registration.company' | translate }}</mat-label>
            <input matInput formControlName="company">
            <mat-icon matIconPrefix>apartment</mat-icon>
            @if (externalUser.controls.company.hasError('required')) {
                <mat-error>{{ "error.required" | translate }}</mat-error>
            }
        </mat-form-field>
        <button matButton="filled" color="primary" [disabled]="externalUser.invalid" (click)="sendRegistration()">
            {{ 'external_user_registration.register' | translate }}
            <mat-icon>person_add</mat-icon>
        </button>
        <div class="d-flex justify-content-center align-items-center w-100 mt-3">
            <div class="ecmr-cmr-logo">
                <div>CMR</div>
            </div>
        </div>
    </mat-card>
</div>
