.mobile-container{
  max-width: calc(100% - 20px);
  margin: 10px!important;
}

.overflow-container{
  overflow-x: hidden;
  height: calc(100vh - 128px - 2rem);
  .header-card{
    position: sticky;
    top: 0;
    z-index: 99;
  }
}

.invalid-highlight {
  color: red;
}

.action-button-group {
  display: inline-flex;
  align-items: center;
}

.main-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-button {
  min-width: 36px;
  padding: 0 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.signed-content {
  background-color: #eaeaea;
}