@import "../../../custom-theme";

.mobile-container{
  max-width: calc(100% - 20px);
  margin: 10px!important;
}

.overflow-container{
  overflow-x: hidden;
  height: calc(100vh - 128px - 2rem);
  .header-card{
    position: sticky;
    top: 0;
    z-index: 99;
  }
}

.invalid-highlight {
  color: red;
}

.action-button-group {
  display: inline-flex;
  align-items: center;
}

.signed-content {
  img {
    background-color: white;
  }
  background-color: rgba(172, 171, 171, 0.5);
}

.id-input {
  width: 120px;
}

.icon-button {
  padding: 6px;
  border-radius: 4px;
  background-color: $primary-color;
  color: white;

  &:hover {
    opacity: 0.96;
  }
}

.icon {
  transform: scale(0.75);
}

.custom-template-style {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1rem;
  display: block;
  width: 70%;
  margin: calc(-1 * var(--bs-gutter-y)) auto var(--bs-gutter-y) auto;
  padding-left: var(--bs-gutter-x);
  padding-right: var(--bs-gutter-x);
}

#sender-title.alignedWithConsigneeFields {
  margin-top: calc(40px + 0.25rem);
}

.no-arrows {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}
