@if (sealed) {
    <div class="signed-content d-flex justify-content-center align-items-center flex-column rounded p-3 col-12 col-md-8">
        <span class="d-flex justify-content-center mt-2">
            {{ "signature.signed_on" | translate }} {{ dateTimeService.transformDate(seal!.sealMetadata.timestamp) }}
        </span>
        <p class="text-center mt-2">{{ "signature.by" | translate }} {{ seal!.sealMetadata.sealer }}</p>
        <span class="text-center">{{ "ecmr_editor.eseal_information" | translate }}</span>
    </div>
} @else {
    <div class="action-button-group">
        <button [disabled]="buttonDisabled" mat-flat-button class="mb-3" color="primary" (click)="buttonClicked.emit()">
            <mat-icon iconPositionEnd>draw</mat-icon>
            {{ "ecmr_editor.sign" | translate }}
        </button>
    </div>
}
