table {
  overflow: auto;
}

.table-container {
  height: calc(100vh - 184px);
  overflow: auto;
}

.mat-paginator-sticky {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.mat-mdc-row, .cdk-row, .mdc-data-table__row {
  height: calc((100vh - 240px) / 15) !important;
  max-height: calc((100vh - 240px) / 15) !important;
}

.mat-mdc-row:hover {
  background-color: rgba(196, 196, 196, 0.08) !important;
  cursor: pointer;
}

.detail-header-label {
  border-radius: 10px;
  padding: 5px 10px;
}

.actions-row {
  width: 150px;
}

.search-field {
  width: 400px;
}

.deactivated {
  background-color: rgba(255, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  .table-container {
    height: calc(100vh - 168px);
    overflow: auto;
  }

  .mat-mdc-row, .cdk-row, .mdc-data-table__row {
    height: calc((100vh - 224px) / 15) !important;
    max-height: calc((100vh - 224px) / 15) !important;
  }
}
