<svg id="a" xmlns="http://www.w3.org/2000/svg" width="28" height="35" viewBox="0 0 28 35">
    <rect id="b" x="1" y="1" width="26" height="13" style="stroke-width:0px;" class="primary-fill"/>
    <g id="c">
        <rect width="28" height="35" rx="3" ry="3" style="fill:none; stroke-width:0px;"/>
        <rect x=".7" y=".7" width="26.6" height="33.6" rx="2.3" ry="2.3" style="fill:none; stroke-width:1.4px;" class="primary-stroke"/>
    </g>
    <g id="d" style="isolation:isolate;">
        <text transform="translate(4 10)"
              style="font-family:Roboto; font-size:9px; font-weight:700; isolation:isolate;
              letter-spacing:0em;" class="primary-letter-fill">
            <tspan x="0" y="0">CMR</tspan>
        </text>
    </g>
    <path id="e" d="m4.9,17.7h17.4" style="fill:none; stroke-linecap:round; stroke-width:1.2px;" class="primary-stroke"/>
    <path id="f" d="m4.9,26.1h17.4" style="fill:none; stroke-linecap:round; stroke-width:1.2px;" class="primary-stroke"/>
    <path id="g" d="m4.9,20.9h11.2" style="fill:none; stroke-linecap:round; stroke-width:1.2px;" class="primary-stroke"/>
    <path id="h" d="m4.9,29.2h11.2" style="fill:none; stroke-linecap:round; stroke-width:1.2px;" class="primary-stroke"/>
</svg>