<div mat-dialog-title class="d-flex flex-row align-items-center gap-3 p-0">
    <button mat-icon-button (click)="close()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    {{ "ecmr_import.title" | translate }}
</div>
<mat-dialog-content class="d-flex flex-column gap-3 justify-content-center align-items-center">
    <div class="scanner-container" [ngClass]="cameraCssClass">
        <zxing-scanner
            #scanner
            class="scanner"
            [formats]="allowedFormats"
            [device]="selectedCamera"
            [enable]="cameraActive"
            (camerasFound)="onCamerasFound($event)"
            (scanSuccess)="handleQrCodeResult($event)">
        </zxing-scanner>
    </div>
    <div class="w-100 d-flex flex-row align-items-center gap-3">
        <button mat-flat-button (click)="switchCamera()" color="accent" class="flex-grow-1" [disabled]="!cameraActive">
            {{ "ecmr_import.switch_camera" | translate }}
            <mat-icon iconPositionEnd>cameraswitch</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleCamera()">
            <mat-icon [color]="cameraActive ? 'warn' : 'primary'">{{ cameraActive ? 'no_photography' : 'photo_camera' }}</mat-icon>
        </button>
    </div>
    <mat-form-field class="w-100">
        <mat-label>{{ "ecmr_import.e_token" | translate }}</mat-label>
        <input matInput [formControl]="tokenFormControl">
        <button mat-icon-button matIconSuffix (click)="pasteFromClipboard()"
                *ngIf="tokenFormControl.invalid" color="accent"
                #tooltip="matTooltip"
                matTooltip="Paste E-Token"
                [matTooltipPosition]="'below'"
                matTooltipHideDelay="200">
            <mat-icon>content_paste</mat-icon>
        </button>
        <button mat-icon-button matIconSuffix (click)="tokenFormControl.reset()"
                *ngIf="tokenFormControl.valid" color="warn"
                #tooltip="matTooltip"
                matTooltip="Reset E-Token"
                [matTooltipPosition]="'below'"
                matTooltipHideDelay="200">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-flat-button color="primary" [disabled]="tokenFormControl.invalid" (click)="importEcmr()">
        {{ "ecmr_import.import" | translate }}
    </button>
    <button mat-flat-button color="warn" (click)="close()">{{ "common.cancel" | translate }}</button>
</mat-dialog-actions>

