.button-bar-container {
  position: sticky;
  left: 85%;
}

.search-bar-input {
  margin-top: 20px;
  width: 450px;
}

.detail-view {
  height: 100%;
  width: 40vw;
}

.detail-view-mobile {
  height: 100%;
  width: 100vw;
}

