.button-bar-container {
  position: sticky;
  left: 95%;
}

.icon-button {
  text-align: center;
  min-width: 48px;
  min-height: 48px;
}

.ecmr-overview-table {
  width: calc(100vw - 65px);
  position: sticky;
}

.ecmr-overview-table-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.mat-paginator-sticky {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.mat-mdc-row, .cdk-row, .mdc-data-table__row {
  height: calc((100vh - 240px) / 10) !important;
  max-height: calc((100vh - 240px) / 10) !important;
}

#quick-view-container{
  position: fixed;
  z-index: 5;
  right: 0;
  width: 35%;
  height: 10%
}

mat-card-content{
  overflow: scroll;
  height: 90vh
}

#column-selection{
  position: absolute;
  width: 250px;
  z-index: 5;
}

#rows{
  cursor:pointer
}

#rows:hover {
  background-color: rgba(196, 196, 196, 0.08)
}

.detail-view {
  height: 100%;
  width: 40vw;
}

#icons {
  width: 170px;
  padding-right: 0;
}

th {
  min-width: 150px;
}
