<mat-drawer-container [hasBackdrop]="false" class="h-100">
    <mat-drawer [position]="'end'" [opened]="selectedTemplate !== null" class="detail-view" [mode]="'side'">
        @if (selectedTemplate && selectedTemplate.ecmr) {
            <app-ecmr-overview-details (closeDetails)="closeDetailView($event)"
                                       [quickViewButtons]="quickViewButtons"
                                       [selectedEcmr]="selectedTemplate!.ecmr"/>
        }
    </mat-drawer>
    <article class="h-100">
        <section class="d-flex flex-column h-100 overflow-hidden">
            <mat-toolbar>
                <mat-toolbar-row>
                    <h6>{{ 'template_overview.title' | translate }}</h6>
                    <div class="button-bar-container">
                        <button mat-flat-button class="search-bar-button" color="primary" (click)="createNewTemplate()">
                            <mat-icon iconPositionEnd>add</mat-icon>
                            {{ 'overview.create_new' | translate }}
                        </button>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
            <div class="ecmr-overview-table-container">
                <!-- Overview of eCMRs -->
                <table class="ecmr-overview-table overflow-x-auto" mat-table [dataSource]="dataSource" matSort
                       (matSortChange)="sortData($event)"
                       cdkDropList
                       cdkDropListOrientation="horizontal"
                       (cdkDropListDropped)="tableDrop($event)" [formGroup]="filterFormGroup">

                    <!-- ID Column used to display icon buttons -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>
                            <button mat-icon-button (click)="toggleColumnSelectionMenu()">
                                <mat-icon>tune</mat-icon>
                            </button>
                            @if (showColumSelection) {
                                <mat-card id="column-selection">
                                    <button mat-stroked-button
                                            (click)="updateColumns()">{{ 'overview.columns_settings.configure_columns' | translate }}
                                        <mat-icon color="primary">close</mat-icon>
                                    </button>
                                    <mat-checkbox [checked]="toggledColumns[0]"
                                                  (change)="toggleColumnAtIndex(0)">{{ 'template_overview.table_header.number' | translate }}
                                    </mat-checkbox>
                                    <mat-checkbox [checked]="toggledColumns[1]"
                                                  (change)="toggleColumnAtIndex(1)">{{ 'template_overview.table_header.name' | translate }}
                                    </mat-checkbox>
                                    <mat-checkbox [checked]="toggledColumns[2]"
                                                  (change)="toggleColumnAtIndex(2)">{{ 'overview.table_header.ref_id' | translate }}
                                    </mat-checkbox>
                                    <mat-checkbox [checked]="toggledColumns[3]"
                                                  (change)="toggleColumnAtIndex(3)">{{ 'overview.table_header.from' | translate }}
                                    </mat-checkbox>
                                    <mat-checkbox [checked]="toggledColumns[4]"
                                                  (change)="toggleColumnAtIndex(4)">{{ 'overview.table_header.to' | translate }}
                                    </mat-checkbox>
                                    <div class="mx-auto">
                                        <button mat-flat-button color="primary" class="m-3"
                                                (click)="updateColumns()">{{ 'general.apply_button' | translate }}
                                            <mat-icon iconPositionEnd>check</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                            }
                            <button mat-icon-button (click)="showFilter = !showFilter;">
                                <mat-icon>{{ showFilter ? 'filter_list_off' : 'filter_list' }}</mat-icon>
                            </button>
                            @if (showFilter && filterFormGroup.dirty) {
                                <button mat-icon-button color="warn" (click)="filterFormGroup.reset()"
                                    matTooltip="{{
                'template_overview.clear_filter' | translate}}">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            }

                        </th>
                        <td id="icons" mat-cell *matCellDef="let templateUser; let i = index;">
              <span>
                <button mat-icon-button (click)="shareTemplate(templateUser);$event.stopPropagation()"
                        matTooltip="{{'overview.tooltips.share' | translate}}">
                  <mat-icon>share</mat-icon>
                </button>
                <button mat-icon-button (click)="editTemplate(templateUser)" matTooltip="{{'overview.tooltips.edit' | translate}}">
                  <mat-icon>edit_note</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteTemplate(templateUser);$event.stopPropagation()"
                        matTooltip="{{'overview.tooltips.delete_template' | translate}}">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                            cdkDragBoundary="mat-header-row">
                            <div class="my-3">
                                <span class="float-start fw-bold">{{ 'template_overview.table_header.number' | translate }}</span>
                                <br>
                                @if (showFilter) {
                                    <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
                                        <input matInput formControlName="templateUserNumber" (keydown)="$event.stopPropagation()">
                                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.templateUserNumber.reset()">close
                                        </mat-icon>
                                    </mat-form-field>
                                }
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let templateUser; let i = index;">{{ templateUser.templateUserNumber }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                            cdkDragBoundary="mat-header-row">
                            <div class="my-3">
                                <span class="float-start fw-bold">{{ 'template_overview.table_header.name' | translate }}</span>
                                <br>
                                @if (showFilter) {
                                    <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
                                        <input matInput formControlName="name" (keydown)="$event.stopPropagation()">
                                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.name.reset()">close</mat-icon>
                                    </mat-form-field>
                                }
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let templateUser; let i = index;">{{ templateUser.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="refId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                            cdkDragBoundary="mat-header-row">
                            <div class="my-3">
                                <span class="float-start fw-bold">{{ 'overview.table_header.ref_id' | translate }}</span>
                                <br>
                                @if (showFilter) {
                                    <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
                                        <input matInput formControlName="refId" (keydown)="$event.stopPropagation()">
                                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.refId.reset()">close</mat-icon>
                                    </mat-form-field>
                                }
                            </div>
                        </th>
                        <td mat-cell
                            *matCellDef="let templateUser; let i = index;">{{ templateUser.ecmr.ecmrConsignment.referenceIdentificationNumber.value }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="from">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                            cdkDragBoundary="mat-header-row">
                            <div class="my-3">
                                <span class="float-start fw-bold">{{ 'overview.table_header.from' | translate }}</span>
                                <br>
                                @if (showFilter) {
                                    <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
                                        <input matInput formControlName="from" (keydown)="$event.stopPropagation()">
                                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.from.reset()">close</mat-icon>
                                    </mat-form-field>
                                }
                            </div>
                        </th>
                        <td mat-cell
                            *matCellDef="let templateUser; let i = index;">{{ templateUser.ecmr.ecmrConsignment.senderInformation.senderCompanyName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="to">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                            cdkDragBoundary="mat-header-row">
                            <div class="my-3">
                                <span class="float-start fw-bold">{{ 'overview.table_header.to' | translate }}</span>
                                <br>
                                @if (showFilter) {
                                    <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
                                        <input matInput formControlName="to" (keydown)="$event.stopPropagation()">
                                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.to.reset()">close</mat-icon>
                                    </mat-form-field>
                                }
                            </div>
                        </th>
                        <td mat-cell
                            *matCellDef="let templateUser; let i = index;">{{ templateUser.ecmr.ecmrConsignment.consigneeInformation.consigneeCompanyName }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" id="rows"
                        (click)="selectTemplate(row)">
                    </tr>
                </table>
            </div>
            <mat-paginator [showFirstLastButtons]="true" class="mat-paginator-sticky"
                           [pageSize]="10"/>
        </section>
    </article>
    <ng-template #quickViewButtons let-ecmr>
        <div>
            <button class="m-1" mat-flat-button color="primary" (click)="editTemplate(selectedTemplate!)">
                {{ 'common.edit' | translate }}
                <mat-icon iconPositionEnd>edit_note</mat-icon>
            </button>
            <button class="m-1" mat-stroked-button (click)="shareTemplate(selectedTemplate!)">
                {{ 'common.share' | translate }}
                <mat-icon iconPositionEnd>share</mat-icon>
            </button>
        </div>
    </ng-template>
</mat-drawer-container>
