.search-bar-container {
  position: sticky;
  left: 85%;
}

.search-bar-input {
  margin-top: 20px;
  width: 450px;
}

.search-bar-button {
  margin-left: 15px;
  margin-right: 15px;
}

.icon-button {
  text-align: center;
  min-width: 48px;
  min-height: 48px;
}

.ecmr-overview-table {
  width: calc(100vw - 65px);
  position: sticky;
}

.ecmr-overview-table-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

#quick-view-container{
  position: fixed;
  z-index: 5;
  right: 0;
  width: 35%;
  height: 10%
}

mat-card-content{
  overflow: scroll;
  height: 90vh
}

#column-selection{
  position: absolute;
  width: 250px;
  z-index: 5;
}

#rows{
  cursor:pointer
}


.detail-view {
  height: 100%;
  width: 40vw;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

#icons {
  width: 300px;
}
