@use '@angular/material' as mat;

$blue: (
        50 : #e0e9f3,
        100 : #b3c8e1,
        200 : #80a3cd,
        300 : #4d7eb9,
        400 : #2662aa,
        500 : #00469b,
        600 : #003f93,
        700 : #003789,
        800 : #002f7f,
        900 : #00206d,
        A100 : #9cb0ff,
        A200 : #6988ff,
        A400 : #365fff,
        A700 : #1d4bff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$yellow: (
        50 : #fef7e0,
        100 : #feebb3,
        200 : #fddd80,
        300 : #fccf4d,
        400 : #fbc526,
        500 : #fabb00,
        600 : #f9b500,
        700 : #f9ac00,
        800 : #f8a400,
        900 : #f69600,
        A100 : #ffffff,
        A200 : #fff6ea,
        A400 : #ffdfb7,
        A700 : #ffd49d,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$custom-primary-palette: mat.m2-define-palette($blue);
$custom-accent-palette: mat.m2-define-palette($yellow);
