<app-loading-overlay [loading]="loading$ | async"/>
<mat-toolbar>
    <mat-toolbar-row class="p-0 w-100 justify-content-between">
        <div class="d-flex flex-row align-items-center justify-content-center">
            <div class="menu-button-container d-flex justify-content-center align-items-center me-2">
                <button class="menu-button d-flex flex-column justify-content-around align-items-center" (click)="toggleMenu(); drawer.toggle()">
                    <div class="bar1" [class.change]="isOpen"></div>
                    <div class="bar2" [class.change]="isOpen"></div>
                    <div class="bar3" [class.change]="isOpen"></div>
                </button>
            </div>
            <span>{{ 'title' | translate }}</span>
        </div>
        <div class="me-2 d-flex flex-row gap-2 align-items-center">
            <button mat-icon-button (click)="toggleTheme()" class="theme-switcher">
                <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
            </button>
            <div class="position-relative language-container">
                <div class="language-picker position-relative top-0 overflow-hidden bg-white"
                     [ngClass]="{'extended': languagePickerExtended}">
                    <div class="selected-language d-flex justify-content-center align-items-center w-100"
                         (click)="toggleLanguagePicker()" tabindex="0" (keyup.enter)="toggleLanguagePicker()">{{ selectedLanguage.flag }}
                    </div>
                    @for (language of languages; track language) {
                        @if (language.code !== selectedLanguage.code) {
                            <div (click)="selectLanguage(language)"
                                 [ngClass]="{'d-none': !languagePickerExtended}"
                                 tabindex="0" (keyup.enter)="selectLanguage(language) ">
                                {{ language.flag }}
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="initials d-flex justify-content-center align-items-center"
                 [matTooltip]="getNameOfAuthenticatedUser()"
                 [style]="'background: '+stringToColor(getInitialsOfAuthenticatedUser())+';' ">
                {{ getInitialsOfAuthenticatedUser() }}
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
    @if (!isMobile) {
        <mat-drawer class="d-flex flex-column icon-sidenav" mode="side" [opened]="true">
            <div class="d-flex flex-column justify-content-center align-items-center">
                @if (authService.hasRole(authenticatedUser, UserRole.User)) {
                    <a class="sidenav__icon" tabindex="0" (click)="navigateTo('ecmr-overview')"
                       (keyup.enter)="navigateTo('ecmr-overview')"
                       [routerLink]="['/ecmr-overview']" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}"
                       matRipple>
                        <app-ecmr-icon/>
                    </a>
                    <a class="sidenav__icon" tabindex="0" (click)="navigateTo('templates-overview')"
                       (keyup.enter)="navigateTo('templates-overview')"
                       [routerLink]="['/templates-overview']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}"
                       matRipple>
                        <app-ecmr-template-icon/>
                    </a>
                    <a class="sidenav__icon" tabindex="0" (click)="navigateTo('ecmr-archive')"
                       (keyup.enter)="navigateTo('ecmr-archive')"
                       [routerLink]="['/ecmr-archive']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       matRipple>
                        <app-ecmr-done-icon/>
                    </a>
                }
                @if (authService.hasRole(authenticatedUser, UserRole.Admin)) {
                    <a class="sidenav__icon" tabindex="0" (click)="navigateTo('user-overview')"
                       (keyup.enter)="navigateTo('user-overview')"
                       [routerLink]="['/user-overview']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       matRipple>
                        <mat-icon color="primary" class="scale-icon primary-icon">person</mat-icon>
                    </a>
                    <a class="sidenav__icon" tabindex="0" (click)="navigateTo('group-overview')"
                       (keyup.enter)="navigateTo('group-overview')"
                       [routerLink]="['/group-overview']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       matRipple>
                        <mat-icon color="primary" class="scale-icon primary-icon">groups</mat-icon>
                    </a>
                    <a class="sidenav__icon" tabindex="0" (click)="navigateTo('admin-approval')"
                       (keyup.enter)="navigateTo('admin-approval')"
                       [routerLink]="['/admin-approval']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       matRipple>
                        <mat-icon color="primary" class="scale-icon primary-icon">link</mat-icon>
                    </a>
                    <a class="sidenav__icon" tabindex="0" (click)="navigateTo('pending-ecmr')"
                       (keyup.enter)="navigateTo('pending-ecmr')"
                       [routerLink]="['/pending-ecmr']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       matRipple>
                        <mat-icon color="primary" class="scale-icon primary-icon">schedule_send</mat-icon>
                    </a>
                }
            </div>
        </mat-drawer>
    }
    <mat-drawer-container class="sidenav-container" autosize>
        <mat-drawer #drawer class="sidenav" [mode]="'over'" [style.width]="isMobile ? '100%' : '300px'">
            <div class="h-100 d-flex flex-column justify-content-between">
                <div>
                    @if (authService.hasRole(authenticatedUser, UserRole.User)) {
                        <a class="sidenav-container__icon-container" matRipple
                           tabindex="0" (click)="navigateTo('ecmr-overview')"
                           (keyup.enter)="navigateTo('ecmr-overview')"
                           [routerLink]="['/ecmr-overview']">
                            @if (isMobile) {
                                <div class="sidenav__icon">
                                    <app-ecmr-icon/>
                                </div>
                            }
                            {{ 'menu.overview' | translate }}
                        </a>
                        @if (!isMobile) {
                            <a class="sidenav-container__icon-container" matRipple
                               tabindex="0" (click)="navigateTo('templates-overview')"
                               (keyup.enter)="navigateTo('templates-overview')"
                               [routerLink]="['/templates-overview']">
                                @if (isMobile) {
                                    <div class="sidenav__icon">
                                        <app-ecmr-template-icon/>
                                    </div>
                                }
                                {{ 'menu.templates' | translate }}
                            </a>
                        }
                        <a class="sidenav-container__icon-container" matRipple
                           tabindex="0" (click)="navigateTo('ecmr-archive')"
                           (keyup.enter)="navigateTo('ecmr-archive')"
                           [routerLink]="['/ecmr-archive']">
                            @if (isMobile) {
                                <div class="sidenav__icon">
                                    <app-ecmr-done-icon/>
                                </div>
                            }
                            {{ 'menu.archive' | translate }}
                        </a>
                    }
                    @if (authService.hasRole(authenticatedUser, UserRole.Admin)) {
                        @if (!isMobile) {
                            <a class="sidenav-container__icon-container" matRipple
                               tabindex="0" (click)="navigateTo('user-overview')"
                               (keyup.enter)="navigateTo('user-overview')"
                               [routerLink]="['/user-overview']">
                                @if (isMobile) {
                                    <div class="sidenav__icon">
                                        <mat-icon color="primary" class="scale-icon">person</mat-icon>
                                    </div>
                                }
                                {{ 'menu.user_overview' | translate }}
                            </a>
                        }
                        @if (!isMobile) {
                            <a class="sidenav-container__icon-container" matRipple
                               tabindex="0" (click)="navigateTo('group-overview')"
                               (keyup.enter)="navigateTo('group-overview')"
                               [routerLink]="['/group-overview']">
                                @if (isMobile) {
                                    <div class="sidenav__icon">
                                        <mat-icon color="primary" class="scale-icon">groups</mat-icon>
                                    </div>
                                }
                                {{ 'menu.group_overview' | translate }}
                            </a>
                        }
                        @if (!isMobile) {
                            <a class="sidenav-container__icon-container" matRipple
                               tabindex="0" (click)="navigateTo('admin-approval')"
                               (keyup.enter)="navigateTo('admin-approval')"
                               [routerLink]="['/admin-approval']">
                                @if (isMobile) {
                                    <div class="sidenav__icon">
                                        <mat-icon color="primary" class="scale-icon">link</mat-icon>
                                    </div>
                                }
                                {{ 'menu.instance_management' | translate }}
                            </a>
                            <a class="sidenav-container__icon-container" matRipple
                               tabindex="0" (click)="navigateTo('pending-ecmr')"
                               (keyup.enter)="navigateTo('pending-ecmr')"
                               [routerLink]="['/pending-ecmr']">
                                @if (isMobile) {
                                    <div class="sidenav__icon">
                                        <mat-icon color="primary" class="scale-icon">schedule_send</mat-icon>
                                    </div>
                                }
                                {{ 'menu.pending_ecmr' | translate }}
                            </a>
                        }
                    }
                </div>
                <div class="d-flex flex-column gap-1 ps-1 pe-1 mb-4">
                    <div class="footer-line" (click)="logout()"
                         (keyup.enter)="logout()"
                         tabindex="0">
                        <mat-icon color="primary">logout</mat-icon>
                        <span>{{ 'menu.logout' | translate }}</span>
                    </div>
                    <a class="footer-line">
                        <mat-icon iconPositionEnd color="primary">open_in_new</mat-icon>
                        {{ "ecmr_editor.user_guides_and_docs" | translate }}
                    </a>
                    <a class="footer-line"
                       tabindex="0" [routerLink]="['/privacy']" (click)="navigateTo('privacy')"
                       (keyup.enter)="navigateTo('privacy')">
                        <mat-icon color="primary">shield</mat-icon>
                        <span>{{ 'menu.privacy' | translate }}</span>
                    </a>
                    <a class="footer-line"
                       tabindex="0" [routerLink]="['/imprint-legal-matter']" (click)="navigateTo('imprint-legal-matter')"
                       (keyup.enter)="navigateTo('imprint-legal-matter')">
                        <mat-icon color="primary">info</mat-icon>
                        <span>{{ 'menu.imprint_legal' | translate }}</span>
                    </a>
                </div>
            </div>
        </mat-drawer>
        <router-outlet/>
    </mat-drawer-container>
</mat-drawer-container>
