@use '@angular/material' as mat;
@import "custom-theme";
@import "bootstrap/scss/bootstrap";

/* Global Styles */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

/* Custom Classes */
.primary-fill {
  fill: $primary-color;
}

.primary-letter-fill {
  fill: white;
}

.primary-stroke {
  stroke: $primary-color;
}

.primary-color {
  color: $primary-color;
}

.mat-background-primary {
  background-color: $primary-color !important;
}

.active .mat-icon {
  color: white;
}

.active .primary-fill {
  fill: white !important;
}

.active .primary-letter-fill {
  fill: $primary-color;
}

.active .primary-stroke {
  stroke: white !important;
}

.sidenav-container__icon-container:hover,
.sidenav__icon:hover:not(.active),
.footer-line:hover {
  background-color: mat.get-color-from-palette($my-accent, 400);
  cursor: pointer;
}

.active {
  background-color: mat.get-color-from-palette($my-primary, 500);
}

.container-header {
  width: 100%;
  border-bottom: $primary-color 2px solid;
}

.mat-mdc-dialog-title {
  background-color: $primary-color;
  color: white !important;
  font-weight: bold !important;
}

app-ecmr-editor ::-webkit-scrollbar-thumb,
app-group-overview ::-webkit-scrollbar-thumb,
app-group-detail-view ::-webkit-scrollbar-thumb,
app-edit-user-dialog ::-webkit-scrollbar-thumb,
app-ecmr-overview-details ::-webkit-scrollbar-thumb,
app-template-overview ::-webkit-scrollbar-thumb,
app-ecmr-table ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  cursor: pointer;
  background: mat.get-color-from-palette($my-primary, 500);
}

app-ecmr-editor ::-webkit-scrollbar-thumb:hover,
app-ecmr-overview-details ::-webkit-scrollbar-thumb:hover,
app-group-detail-view ::-webkit-scrollbar-thumb:hover,
app-edit-user-dialog ::-webkit-scrollbar-thumb:hover,
app-group-overview ::-webkit-scrollbar-thumb:hover,
app-template-overview ::-webkit-scrollbar-thumb:hover,
app-ecmr-table ::-webkit-scrollbar-thumb:hover {
  background: mat.get-color-from-palette($my-accent, 500);
}

.mat-mdc-unelevated-button.mat-primary {
  color: #fff !important;
}

$logo-multiplier: 0.75;

.ecmr-cmr-logo {
  margin-bottom: 16px;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: calc(160px * #{$logo-multiplier});
  height: calc(110px * #{$logo-multiplier});
  border: calc(6px * #{$logo-multiplier}) solid;

  div {
    font-size: calc(60px * #{$logo-multiplier});
    font-weight: bold;
    transform: scaleY(0.85) translateY(3px) translateX(-2px);
  }
}

.action-bar-shadow {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(184, 184, 184, 0.5);
  box-shadow: 0px 2px 2px 0px rgba(184, 184, 184, 0.5);;
  z-index: 5000;
}

:root {
  --transition-times: 0.05s, 0.1s, 0.15s, 0.2s, 0.25s;
}

#icons {
  width: 300px;
}

#icons.icons-short {
  width: 150px;
}

tr #icons button {
  opacity: 0;
  transition: opacity var(--transition-times);
}

tr:hover #icons button {
  opacity: 1;
  transition: opacity var(--transition-times);
}

tr #icons button:nth-child(1) {
  transition-delay: 0s;
}

tr #icons button:nth-child(2) {
  transition-delay: 0.05s;
}

tr #icons button:nth-child(3) {
  transition-delay: 0.1s;
}

tr #icons button:nth-child(4) {
  transition-delay: 0.15s;
}

tr #icons button:nth-child(5) {
  transition-delay: 0.2s;
}

.custom-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  color: #fff !important;
}

.custom-snackbar.mat-mdc-snack-bar-container.success .mdc-snackbar__surface {
  background-color: #66d72f !important;
}

.custom-snackbar.mat-mdc-snack-bar-container.error .mdc-snackbar__surface {
  background-color: #DC3545FF !important;
}

.custom-snackbar.mat-mdc-snack-bar-container.info .mdc-snackbar__surface {
  background-color: #FABB00FF !important;
}

.mdc-linear-progress__bar-inner {
  border-color: white !important;
}