@use '@angular/material' as mat;
@import "custom-theme";
@import "bootstrap/scss/bootstrap";

/* Global Styles */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

/* Custom Classes */
.primary-fill {
  fill: $primary-color;
}

.primary-letter-fill {
  fill: white;
}

.primary-stroke {
  stroke: $primary-color;
}

.active .primary-fill {
  fill: white !important;
}

.active .primary-letter-fill {
  fill: $primary-color;
}

.active .primary-stroke {
  stroke: white !important;
}

.sidenav-container__icon-container:hover,
.sidenav__icon:hover:not(.active),
.footer-line:hover {
  background-color: mat.get-color-from-palette($my-accent, 400);
  cursor: pointer;
}

.active {
  background-color: mat.get-color-from-palette($my-primary, 500);
}

app-ecmr-editor ::-webkit-scrollbar-thumb,
app-ecmr-table ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  cursor: pointer;
  background: mat.get-color-from-palette($my-primary, 500);
}

app-ecmr-editor ::-webkit-scrollbar-thumb:hover,
app-ecmr-table ::-webkit-scrollbar-thumb:hover {
  background: mat.get-color-from-palette($my-accent, 500);
}

.mat-mdc-unelevated-button.mat-primary {
  color: #fff !important;
}