@use '@angular/material' as mat;
@import "custom-theme";
@import "bootstrap/scss/bootstrap";

/* Global Styles */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

/* Custom Classes */
.primary-fill {
  fill: $primary-color;
}

.primary-letter-fill {
  fill: white;
}

.primary-stroke {
  stroke: $primary-color;
}

.active .primary-fill {
  fill: white !important;
}

.active .primary-letter-fill {
  fill: $primary-color;
}

.active .primary-stroke {
  stroke: white !important;
}

.sidenav-container__icon-container:hover,
.sidenav__icon:hover:not(.active),
.footer-line:hover {
  background-color: mat.get-color-from-palette($my-accent, 400);
  cursor: pointer;
}

.active {
  background-color: mat.get-color-from-palette($my-primary, 500);
}

app-ecmr-editor ::-webkit-scrollbar-thumb,
app-ecmr-overview-details ::-webkit-scrollbar-thumb,
app-template-overview ::-webkit-scrollbar-thumb,
app-ecmr-table ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  cursor: pointer;
  background: mat.get-color-from-palette($my-primary, 500);
}

app-ecmr-editor ::-webkit-scrollbar-thumb:hover,
app-ecmr-overview-details ::-webkit-scrollbar-thumb:hover,
app-template-overview ::-webkit-scrollbar-thumb:hover,
app-ecmr-table ::-webkit-scrollbar-thumb:hover {
  background: mat.get-color-from-palette($my-accent, 500);
}

.mat-mdc-unelevated-button.mat-primary {
  color: #fff !important;
}

$logo-multiplier: 0.75;

.ecmr-cmr-logo {
  margin-bottom: 16px;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: calc(160px * #{$logo-multiplier});
  height: calc(110px * #{$logo-multiplier});
  border: calc(6px * #{$logo-multiplier}) solid;

  div {
    font-size: calc(60px * #{$logo-multiplier});
    font-weight: bold;
    transform: scaleY(0.85) translateY(3px) translateX(-2px);
  }
}

.action-bar-shadow {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(184, 184, 184, 0.5);
  box-shadow: 0px 2px 2px 0px rgba(184, 184, 184, 0.5);;
  z-index: 5000;
}