<h2 mat-dialog-title>{{ ("group_change_parent.title") | translate }}</h2>
<mat-dialog-content>
    <div class="mt-4 d-flex flex-column">
        <mat-form-field class="row">
            <mat-label>{{ "group_change_parent.parent_group" | translate }}</mat-label>
            <mat-select [formControl]="parentId" [compareWith]="compareGroupFn">
                <mat-option [value]="null"/>
                @for (group of groups; track group) {
                    <mat-option [value]="group">{{ group.name }}</mat-option>
                }
            </mat-select>
            @if (parentId.invalid) {
                <mat-error>{{ "common.errors.required" | translate }}</mat-error>
            }
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton class="mat-warn" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
        {{ "common.cancel" | translate }}
    </button>
    <button matButton (click)="saveGroup()">
        <mat-icon>save</mat-icon>
        {{ "common.save" | translate }}
    </button>
</mat-dialog-actions>