<mat-toolbar>
    <mat-toolbar-row class="d-flex flex-row justify-content-between">
        <mat-label>{{ 'location.title' | translate }}</mat-label>
        <button mat-flat-button color="primary" (click)="onCreateClick()">
            <mat-icon iconPositionEnd>add</mat-icon>
            {{ 'location.create' | translate }}
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="table-container d-flex flex-column">
    <table mat-table matSort (matSortChange)="sort($event)" [dataSource]="dataSource" [formGroup]="filterFormGroup">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="my-3">
                    <span class="float-start fw-bold">
                        {{ 'location.name' | translate }}
                    </span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="name" (keydown)="$event.stopPropagation()">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.name.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell class="ps-3" *matCellDef="let location"> {{ location.name }}</td>
        </ng-container>
        <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="my-3">
                    <span class="float-start fw-bold">
                        {{ 'location.street' | translate }}
                    </span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="street" (keydown)="$event.stopPropagation()">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.street.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell class="ps-3" *matCellDef="let location"> {{ location.street }}</td>
        </ng-container>
        <ng-container matColumnDef="postcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="my-3">
                    <span class="float-start fw-bold">
                        {{ 'location.postcode' | translate }}
                    </span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="postcode" (keydown)="$event.stopPropagation()">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.postcode.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell class="ps-3" *matCellDef="let location"> {{ location.postcode }}</td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="my-3">
                    <span class="float-start fw-bold">
                        {{ 'location.city' | translate }}
                    </span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="city" (keydown)="$event.stopPropagation()">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.city.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell class="ps-3" *matCellDef="let location"> {{ location.city }}</td>
        </ng-container>
        <ng-container matColumnDef="countryCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="my-3">
                    <span class="float-start fw-bold">
                        {{ 'location.countryCode' | translate }}
                    </span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="countryCode" (keydown)="$event.stopPropagation()">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.countryCode.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell class="ps-3" *matCellDef="let location"> {{ location.countryCode }}</td>
        </ng-container>
        <ng-container matColumnDef="officeNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="my-3">
                    <span class="float-start fw-bold">
                        {{ 'location.officeNumber' | translate }}
                    </span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="officeNumber" (keydown)="$event.stopPropagation()">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.officeNumber.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell class="ps-3" *matCellDef="let location"> {{ location.officeNumber }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="actions">
                <button mat-icon-button (click)="showFilter = !showFilter;">
                    <mat-icon>{{ showFilter ? 'filter_list_off' : 'filter_list' }}</mat-icon>
                </button>
                <button mat-icon-button color="warn" *ngIf="showFilter && filterFormGroup.dirty" (click)="filterFormGroup.reset()" matTooltip="{{
                'location.clear_filter' | translate}}">
                    <mat-icon>clear</mat-icon>
                </button>
            </th>
            <td id="icons" mat-cell *matCellDef="let location; let i = index;">
                <span>
                    <button mat-icon-button (click)="onEditClick(location)" matTooltip="{{'location.edit' | translate}}">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onDeleteClick(location)" matTooltip="{{'location.delete' | translate}}">
                        <mat-icon color="warn">close</mat-icon>
                    </button>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" id="rows">
        </tr>
    </table>
</div>
<mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5,10,20]" class="mat-paginator-sticky"></mat-paginator>
