<div class="ecmr-overview-table-container">
    <div class="position-absolute d-flex align-content-end" *ngIf="showDetails">
        <div id="quick-view-container">
            <mat-card>
                <mat-card-content>

                    <button class="m-1" mat-flat-button (click)="closeDetailsView()">
                        <mat-icon iconPositionEnd>close</mat-icon>
                    </button>
                    <!-- for parent to fill -->
                    <ng-container *ngTemplateOutlet="quickViewButtons; context: { $implicit: selectedEcmr  }">
                    </ng-container>

                    <mat-divider></mat-divider>
                    <h3>To be implemented.</h3>
                    <br>
                    <span>This is the detail view that will contain an overview of the selected ecmr.</span>
                    <br>
                    <br>
                    <span>{{ JSON.stringify(selectedEcmr) }}</span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- Overview of eCMRs -->
    <table class="ecmr-overview-table" mat-table [dataSource]="dataSource" matSort
           (matSortChange)="sortData($event)"
           cdkDropList
           [cdkDropListSortPredicate]="sortPredicate"
           cdkDropListOrientation="horizontal"
           [formGroup]="filterFormGroup"
           (cdkDropListDropped)="tableDrop($event)">

        <!-- ID Column used to display icon buttons -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x"
                [cdkDragDisabled]="true"
                cdkDragBoundary="mat-header-row">
                <button mat-icon-button (click)="toggleColumnSelectionMenu()">
                    <mat-icon>tune</mat-icon>
                </button>
                <ng-container *ngIf="showColumSelection">
                    <mat-card style="position: absolute; width: 250px; z-index: 5;">
                        <button mat-stroked-button (click)="updateColumns()">{{ 'overview.columns_settings.configure_columns' | translate }}
                            <mat-icon color="primary">close</mat-icon>
                        </button>
                        <mat-checkbox [checked]="showColumns.referenceId"
                                      (change)="toggleColumnAtKey('referenceId')">{{ 'overview.table_header.ref_id' | translate }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.from"
                                      (change)="toggleColumnAtKey('from')">{{ 'overview.table_header.from' | translate }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.to"
                                      (change)="toggleColumnAtKey('to')">{{ 'overview.table_header.to' | translate }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.transportType"
                                      (change)="toggleColumnAtKey('transportType')">{{ 'overview.table_header.transport_type' | translate }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.lastEditor"
                                      (change)="toggleColumnAtKey('lastEditor')">{{ 'overview.table_header.last_editor' |translate }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.status"
                                      (change)="toggleColumnAtKey('status')">{{ 'overview.table_header.status' | translate }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.lastEditDate"
                                      (change)="toggleColumnAtKey('lastEditDate')">{{ 'overview.table_header.last_edit_date' | translate }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.creationDate"
                                      (change)="toggleColumnAtKey('creationDate')">{{ 'overview.table_header.creation_date' |translate }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.licensePlate"
                                      (change)="toggleColumnAtKey('licensePlate')">{{ 'overview.table_header.license_plate'|translate }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.carrierName"
                                      (change)="toggleColumnAtKey('carrierName')">{{
                                'overview.table_header.carrier_name'
                                    |translate
                            }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.carrierPostCode"
                                      (change)="toggleColumnAtKey('carrierPostCode')">{{
                                'overview.table_header.carrier_post_code'
                                    |translate
                            }}
                        </mat-checkbox>
                        <mat-checkbox [checked]="showColumns.consigneePostCode"
                                      (change)="toggleColumnAtKey('consigneePostCode')">{{
                                'overview.table_header.consignee_post_code'
                                    |translate
                            }}
                        </mat-checkbox>
                        <div style="margin: 0 auto;">
                            <button mat-flat-button color="primary" style="margin: 15px;"
                                    (click)="updateColumns()">{{ 'general.apply_button' | translate }}
                                <mat-icon iconPositionEnd>check</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </ng-container>
                <button mat-icon-button (click)="toggleFilterListIcon()">
                    <mat-icon>{{ getFilterListIcon() }}</mat-icon>
                </button>
            </th>
            <td id="icons" mat-cell *matCellDef="let ecmr; let i = index;">
          <span>
          <button mat-icon-button (click)="shareEcmr()" matTooltip="{{'overview.tooltips.share' | translate}}">
            <mat-icon>share</mat-icon>
          </button>
          <button mat-icon-button (click)="guestAccessToEcmr()" matTooltip="{{'overview.tooltips.guest_access' | translate}}">
            <mat-icon>qr_code2</mat-icon>
          </button>
          <button mat-icon-button (click)="historyOfEcmr()" matTooltip="{{'overview.tooltips.history' | translate}}">
            <mat-icon>history</mat-icon>
          </button>

              <!-- for parent to fill -->
          <ng-container *ngTemplateOutlet="actionButtons; context: { $implicit: ecmr  }">
          </ng-container>

            </span>
            </td>
        </ng-container>

        <!-- Reference ID Column -->
        <ng-container matColumnDef="referenceId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.ref_id' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="referenceId">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.referenceId.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ ecmr.ecmrConsignment.referenceIdentificationNumber.value }}
            </td>
        </ng-container>

        <!-- From Column -->
        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.from' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="from">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.from.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ ecmr.ecmrConsignment.senderInformation.senderNameCompany }}
            </td>
        </ng-container>

        <!-- To Column -->
        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.to' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="to">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.to.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ ecmr.ecmrConsignment.consigneeInformation.consigneeNameCompany }}
            </td>
        </ng-container>

        <!-- Transport Type Column -->
        <ng-container matColumnDef="transportType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.transport_type' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <mat-select formControlName="transportType">
                            <mat-option [value]="null"></mat-option>
                            <mat-option [value]="EcmrTransportType.NATIONAL">{{ 'overview.table_header.transport_types.national' | translate }}
                            </mat-option>
                            <mat-option
                                    [value]="EcmrTransportType.INTERNATIONAL">{{ 'overview.table_header.transport_types.international' |translate }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.transportType.reset(); $event.stopPropagation()">close
                        </mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ getTransportType(ecmr) }}
            </td>
        </ng-container>

        <!-- Last Editor Column -->
        <ng-container matColumnDef="lastEditor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.last_editor' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="lastEditor">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.lastEditor.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ ecmr.editedBy }}
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.status' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <mat-select formControlName="status">
                            <mat-option [value]="null"></mat-option>
                            <mat-option [value]="EcmrStatus.NEW">{{ 'overview.table_header.ecmr_status.new' | translate }}</mat-option>
                            <mat-option [value]="EcmrStatus.LOADING">{{ 'overview.table_header.ecmr_status.loading' | translate }}</mat-option>
                            <mat-option [value]="EcmrStatus.IN_TRANSPORT">{{ 'overview.table_header.ecmr_status.in_transport' | translate }}
                            </mat-option>
                            <mat-option
                                    [value]="EcmrStatus.ARRIVED_AT_DESTINATION">{{ 'overview.table_header.ecmr_status.arrived_at_destination' |translate }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.status.reset(); $event.stopPropagation()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ ecmr.ecmrStatus }}
            </td>
        </ng-container>

        <!-- Last Edit Date Column -->
        <ng-container matColumnDef="lastEditDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.last_edit_date' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="lastEditorDate">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.lastEditorDate.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index" (click)="showDetailsForEcmrAtIndex(i)">{{
                    ecmr.editedAt?.toLocaleDateString("de-DE", {
                        year: "numeric",
                        month: "2-digit",
                        day: "2-digit"
                    })
                }}
            </td>
        </ng-container>

        <!-- Creation Date Column -->
        <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.creation_date' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="lastCreationDate">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.lastCreationDate.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index" (click)="showDetailsForEcmrAtIndex(i)">{{
                    ecmr.createdAt?.toLocaleDateString("de-DE", {
                        year: "numeric",
                        month: "2-digit",
                        day: "2-digit"
                    })
                }}
            </td>
        </ng-container>

        <!-- License Plate Column-->
        <ng-container matColumnDef="licensePlate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.license_plate' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="licensePlate">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.licensePlate.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ ecmr.ecmrConsignment.carrierInformation.carrierLicensePlate }}
            </td>
        </ng-container>

        <!-- Carrier Name Column-->
        <ng-container matColumnDef="carrierName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.carrier_name' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="carrierName">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.carrierName.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ ecmr.ecmrConsignment.carrierInformation.carrierNameCompany }}
            </td>
        </ng-container>

        <!-- Carrier Postcode-->
        <ng-container matColumnDef="carrierPostCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.carrier_post_code' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="carrierPostCode">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.carrierPostCode.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ ecmr.ecmrConsignment.carrierInformation.carrierPostcode }}
            </td>
        </ng-container>

        <!-- Consignee Postcode-->
        <ng-container matColumnDef="consigneePostCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                cdkDragBoundary="mat-header-row">
                <div class="my-3">
                    <span class="float-start fw-bold">{{ 'overview.table_header.consignee_post_code' | translate }}</span>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()">
                        <input matInput formControlName="consigneePostCode">
                        <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.consigneePostCode.reset()">close</mat-icon>
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let ecmr; let i = index;"
                (click)="showDetailsForEcmrAtIndex(i)">{{ ecmr.ecmrConsignment.consigneeInformation.consigneePostcode }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" id="rows"
        ></tr>
    </table>
</div>
