@use "../../../../custom-theme" as custom-theme;

#icons {
  width: 300px;
}

.icon-button {
  text-align: center;
  min-width: 48px;
  min-height: 48px;
}

.ecmr-overview-table {
  width: calc(100vw - 65px);
  position: sticky;
}

.ecmr-overview-table-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

#quick-view-container{
  position: fixed;
  z-index: 5;
  right: 0;
  width: 35%;
  height: 10%
}

mat-card-content{
  overflow: scroll;
  height: 90vh
}

#column-selection{
  position: absolute;
  width: 250px;
  z-index: 5;
}

#rows{
  cursor:pointer
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.line-icons {
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid custom-theme.$primary-color;
  }
  .filled {
    background-color: custom-theme.$primary-color;
  }
  .line {
    width: 3px;
    height: 20px;
    background-color: custom-theme.$primary-color;
  }
}

table {
  width: 100%;
  margin-bottom: 75px;
}

tr.expanded-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-row:nth-child(4n-3) {
  background-color: rgba(0, 0, 0, 0.1);
}

.expanded-row:nth-child(4n-2) {
  background-color: rgba(0, 0, 0, 0.1);
}
