<div class="ecmr-overview-table-container">
    <!-- Overview of eCMRs -->
    @if (!isMobile) {
        <table class="ecmr-overview-table overflow-x-auto desktop" mat-table [dataSource]="dataSource" matSort
               (matSortChange)="sortData()"
               [matSortActive]="initialSort.active"
               [matSortDirection]="initialSort.direction"
               cdkDropList
               [cdkDropListSortPredicate]="sortPredicate"
               cdkDropListOrientation="horizontal"
               [formGroup]="filterFormGroup"
               (cdkDropListDropped)="tableDrop($event)">

            <!-- ID Column used to display icon buttons -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x"
                    [cdkDragDisabled]="true"
                    class="actions-header"
                    cdkDragBoundary="mat-header-row">
                    <button mat-icon-button (click)="toggleColumnSelectionMenu()">
                        <mat-icon>tune</mat-icon>
                    </button>
                    <ng-container *ngIf="showColumSelection">
                        <mat-card class="position-fixed z-3">
                            <button mat-stroked-button (click)="closeColumnSelection()">{{
                                    'overview.columns_settings.configure_columns' |
                                        translate
                                }}
                                <mat-icon color="primary">close</mat-icon>
                            </button>
                            <mat-checkbox [checked]="showColumns.referenceId"
                                          (change)="toggleColumnAtKey('referenceId')">{{ 'overview.table_header.ref_id' | translate }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.from"
                                          (change)="toggleColumnAtKey('from')">{{ 'overview.table_header.from' | translate }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.to"
                                          (change)="toggleColumnAtKey('to')">{{ 'overview.table_header.to' | translate }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.transportType"
                                          (change)="toggleColumnAtKey('transportType')">{{ 'overview.table_header.transport_type' | translate }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.lastEditor"
                                          (change)="toggleColumnAtKey('lastEditor')">{{ 'overview.table_header.last_editor' |translate }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.status"
                                          (change)="toggleColumnAtKey('status')">{{ 'overview.table_header.status' | translate }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.lastEditDate"
                                          (change)="toggleColumnAtKey('lastEditDate')">{{ 'overview.table_header.last_edit_date' | translate }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.creationDate"
                                          (change)="toggleColumnAtKey('creationDate')">{{ 'overview.table_header.creation_date' |translate }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.licensePlate"
                                          (change)="toggleColumnAtKey('licensePlate')">{{ 'overview.table_header.license_plate'|translate }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.carrierName"
                                          (change)="toggleColumnAtKey('carrierName')">{{
                                    'overview.table_header.carrier_name'
                                        |translate
                                }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.carrierPostCode"
                                          (change)="toggleColumnAtKey('carrierPostCode')">{{
                                    'overview.table_header.carrier_post_code'
                                        |translate
                                }}
                            </mat-checkbox>
                            <mat-checkbox [checked]="showColumns.consigneePostCode"
                                          (change)="toggleColumnAtKey('consigneePostCode')">{{
                                    'overview.table_header.consignee_post_code'
                                        |translate
                                }}
                            </mat-checkbox>
                            <div style="margin: 0 auto;">
                                <button mat-flat-button color="primary" style="margin: 15px;"
                                        (click)="updateColumns()">{{ 'general.apply_button' | translate }}
                                    <mat-icon iconPositionEnd>check</mat-icon>
                                </button>
                            </div>
                        </mat-card>
                    </ng-container>
                    <button mat-icon-button (click)="toggleFilterListIcon()">
                        <mat-icon>{{ getFilterListIcon() }}</mat-icon>
                    </button>
                </th>
                <td id="icons" mat-cell *matCellDef="let ecmr; let i = index;">
            <span>
            <!-- for parent to fill -->
            <ng-container *ngTemplateOutlet="actionButtons; context: { $implicit: ecmr  }">
            </ng-container>

                </span>
                </td>
            </ng-container>

            <!-- Reference ID Column -->
            <ng-container matColumnDef="referenceId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.ref_id' | translate }}</span>
                        <br>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <input (keydown.space)="$event.stopPropagation()" matInput formControlName="referenceId">
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.referenceId.reset()">close</mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;"
                >{{ ecmr.ecmrConsignment.referenceIdentificationNumber.value }}
                </td>
            </ng-container>

            <!-- From Column -->
            <ng-container matColumnDef="from">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.from' | translate }}</span>
                        <br>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <input (keydown.space)="$event.stopPropagation()" matInput formControlName="from">
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.from.reset()">close</mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;"
                >{{ ecmr.ecmrConsignment.senderInformation.senderNameCompany }}
                </td>
            </ng-container>

            <!-- To Column -->
            <ng-container matColumnDef="to">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.to' | translate }}</span>
                        <br>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <input (keydown.space)="$event.stopPropagation()" matInput formControlName="to">
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.to.reset()">close</mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;"
                >{{ ecmr.ecmrConsignment.consigneeInformation.consigneeNameCompany }}
                </td>
            </ng-container>

            <!-- Transport Type Column -->
            <ng-container matColumnDef="transportType">
                <th mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.transport_type' | translate }}</span>
                        <br>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <mat-select formControlName="transportType">
                                <mat-option [value]="null"></mat-option>
                                <mat-option [value]="EcmrTransportType.National">{{ 'overview.table_header.transport_types.national' | translate }}
                                </mat-option>
                                <mat-option
                                        [value]="EcmrTransportType.International">{{ 'overview.table_header.transport_types.international' |translate }}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.transportType.reset(); $event.stopPropagation()">close
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;"
                >{{ getTransportType(ecmr) }}
                </td>
            </ng-container>

            <!-- Last Editor Column -->
            <ng-container matColumnDef="lastEditor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.last_editor' | translate }}</span>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <input (keydown.space)="$event.stopPropagation()" matInput formControlName="lastEditor">
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.lastEditor.reset()">close</mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;"
                >{{ ecmr.editedBy }}
                </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.status' | translate }}</span>
                        <br>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <mat-select formControlName="status">
                                <mat-option [value]="null"></mat-option>
                                <mat-option *ngFor="let ecmrStatus of allEcmrStatus" [value]="ecmrStatus">{{ ('ecmr_status.' + ecmrStatus)| translate }}</mat-option>
                            </mat-select>
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.status.reset(); $event.stopPropagation()">close
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;">
                  <div id="status-cell">
                    <app-ecmr-status [status]="ecmr ? ecmr.ecmrStatus : EcmrStatus.NEW" [isMobile]="!isMobile"></app-ecmr-status>
                    {{ ("ecmr_status." + ecmr.ecmrStatus) | translate }}
                  </div>

                </td>
            </ng-container>

            <!-- Last Edit Date Column -->
            <ng-container matColumnDef="lastEditDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.last_edit_date' | translate }}</span>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index" (click)="showDetailsForEcmrAtIndex(i)">
                    {{ dateFormatService.formatDate(ecmr.editedAt) }}
                </td>
            </ng-container>

            <!-- Creation Date Column -->
            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.creation_date' | translate }}</span>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index" (click)="showDetailsForEcmrAtIndex(i)">
                    {{ dateFormatService.formatDate(ecmr.createdAt) }}
                </td>
            </ng-container>

            <!-- License Plate Column-->
            <ng-container matColumnDef="licensePlate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.license_plate' | translate }}</span>
                        <br>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <input (keydown.space)="$event.stopPropagation()" matInput formControlName="licensePlate">
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.licensePlate.reset()">close</mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;"
                >{{ ecmr.ecmrConsignment.carrierInformation.carrierLicensePlate }}
                </td>
            </ng-container>

            <!-- Carrier Name Column-->
            <ng-container matColumnDef="carrierName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.carrier_name' | translate }}</span>
                        <br>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <input (keydown.space)="$event.stopPropagation()" matInput formControlName="carrierName">
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.carrierName.reset()">close</mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;"
                >{{ ecmr.ecmrConsignment.carrierInformation.carrierNameCompany }}
                </td>
            </ng-container>

            <!-- Carrier Postcode-->
            <ng-container matColumnDef="carrierPostCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.carrier_post_code' | translate }}</span>
                        <br>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <input (keydown.space)="$event.stopPropagation()" matInput formControlName="carrierPostCode">
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.carrierPostCode.reset()">close</mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;"
                >{{ ecmr.ecmrConsignment.carrierInformation.carrierPostcode }}
                </td>
            </ng-container>

            <!-- Consignee Postcode-->
            <ng-container matColumnDef="consigneePostCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragLockAxis="x"
                    cdkDragBoundary="mat-header-row">
                    <div class="my-3">
                        <span class="float-start fw-bold">{{ 'overview.table_header.consignee_post_code' | translate }}</span>
                        <br>
                        <mat-form-field appearance="fill" *ngIf="this.showFilter" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                            <input (keydown.space)="$event.stopPropagation()" matInput formControlName="consigneePostCode">
                            <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.consigneePostCode.reset()">close</mat-icon>
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let ecmr; let i = index;"
                >{{ ecmr.ecmrConsignment.consigneeInformation.consigneePostcode }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" (click)="showDetailsForEcmrAtIndex(i)" id="rows"></tr>
        </table>
    } @else {

        <mat-toolbar [formGroup]="filterFormGroup">
            <mat-toolbar-row class="d-flex flex-row justify-content-between ">
                <div class="search-bar-container">
                    <button mat-stroked-button (click)="toggleFilterListIcon()" >
                        <mat-icon>{{ getFilterListIcon() }}</mat-icon>
                        @if (this.showFilter) {
                            <mat-icon>expand_less</mat-icon>
                        } @else {
                            <mat-icon>expand_more</mat-icon>
                        }
                    </button>
                </div>
            </mat-toolbar-row>

            <div *ngIf="this.showFilter">
                <br>
                <span class="fs-6">{{ 'overview.filter' | translate }}</span>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label>{{ 'overview.table_header.ref_id' | translate }}</mat-label>
                    <input (keydown.space)="$event.stopPropagation()" matInput formControlName="referenceId">
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.referenceId.reset()">close</mat-icon>
                </mat-form-field>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label>{{ 'overview.table_header.from' | translate }}</mat-label>
                    <input (keydown.space)="$event.stopPropagation()" matInput formControlName="from">
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.from.reset()">close</mat-icon>
                </mat-form-field>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label>{{ 'overview.table_header.to' | translate }}</mat-label>
                    <input (keydown.space)="$event.stopPropagation()" matInput formControlName="to">
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.to.reset()">close</mat-icon>
                </mat-form-field>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label>{{ 'overview.table_header.transport_type' | translate }}</mat-label>
                    <mat-select formControlName="transportType">
                        <mat-option [value]="null"></mat-option>
                        <mat-option [value]="EcmrTransportType.National">{{ 'overview.table_header.transport_types.national' | translate }}
                        </mat-option>
                        <mat-option
                                [value]="EcmrTransportType.International">{{ 'overview.table_header.transport_types.international' |translate }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.transportType.reset(); $event.stopPropagation()">close
                    </mat-icon>
                </mat-form-field>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label>{{ 'overview.table_header.last_editor' | translate }}</mat-label>
                    <input (keydown.space)="$event.stopPropagation()" matInput formControlName="lastEditor">
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.lastEditor.reset()">close</mat-icon>
                </mat-form-field>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label>{{ 'overview.table_header.status' | translate }}</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="null"></mat-option>
                        <mat-option *ngFor="let ecmrStatus of allEcmrStatus" [value]="ecmrStatus">{{ ('ecmr_status.' + ecmrStatus)| translate }}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.status.reset(); $event.stopPropagation()">close
                    </mat-icon>
                </mat-form-field>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label>{{ 'overview.table_header.license_plate' | translate }}</mat-label>
                    <input (keydown.space)="$event.stopPropagation()" matInput formControlName="licensePlate">
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.licensePlate.reset()">close</mat-icon>
                </mat-form-field>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label >{{ 'overview.table_header.carrier_name' | translate }}</mat-label>
                    <input (keydown.space)="$event.stopPropagation()" matInput formControlName="carrierName">
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.carrierName.reset()">close</mat-icon>
                </mat-form-field>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label >{{ 'overview.table_header.carrier_post_code' | translate }}</mat-label>
                    <input (keydown.space)="$event.stopPropagation()" matInput formControlName="carrierPostCode">
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.carrierPostCode.reset()">close</mat-icon>
                </mat-form-field>
            </div>

            <div *ngIf="this.showFilter">
                <mat-form-field appearance="fill" (click)="$event.stopPropagation()" subscriptSizing="dynamic">
                    <mat-label>{{ 'overview.table_header.consignee_post_code' | translate }}</mat-label>
                    <input (keydown.space)="$event.stopPropagation()" matInput formControlName="consigneePostCode">
                    <mat-icon matSuffix color="warn" (click)="filterFormGroup.controls.consigneePostCode.reset()">close</mat-icon>
                </mat-form-field>
            </div>

        </mat-toolbar>
        
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mobile">
            <ng-container matColumnDef="content">
                <td mat-cell *matCellDef="let ecmr">
                    <div class="d-flex flex-row justify-content-between align-items-end ms-4 me-1 mt-3 mb-1">
                        <span class="fs-6">{{ ecmr.ecmrConsignment.referenceIdentificationNumber.value }}</span>
                        <app-ecmr-status [status]="ecmr ? ecmr.ecmrStatus : EcmrStatus.NEW" [isMobile]="isMobile"></app-ecmr-status>
                    </div>
                    <div class="fs-5 ms-4 mb-2">
                        {{ dateFormatService.formatDate(ecmr.editedAt) }}
                    </div>
                    <div class="d-flex flex-row gap-2 mx-1 mb-3">
                        <div class="d-flex flex-column justify-content-center align-items-center line-icons">
                            <div class="circle filled"></div>
                            <div class="line"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="d-flex flex-column justify-content-between gap-3">
                            <div class="fw-bold fs-5">
                                {{ ecmr.ecmrConsignment.senderInformation.senderNameCompany }}
                            </div>
                            <div class="fw-bold fs-5">
                                {{ ecmr.ecmrConsignment.consigneeInformation.consigneeNameCompany }}
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let ecmr" [attr.colspan]="displayedColumnsMobile.length">
                    <div class="d-flex flex-row justify-content-evenly"
                         [@detailExpand]="ecmr === expandedElement ? 'expanded' : 'collapsed'">
                        <ng-container *ngTemplateOutlet="mobileActionButtons; context: { $implicit: ecmr  }">
                        </ng-container>
                    </div>
                </td>
            </ng-container>
            <tr mat-row *matRowDef="let element; columns: displayedColumnsMobile;"
                class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                class="expanded-row"></tr>
        </table>
    }
</div>
<mat-paginator [showFirstLastButtons]="true" class="mat-paginator-sticky"
               [pageSize]="10" (page)="onPageEvent()"></mat-paginator>
