<h2 mat-dialog-title id="title">
    {{ "ecmr_external_import.title" | translate }}
</h2>

<mat-dialog-content class="d-flex flex-column gap-3 justify-content-center align-items-center">
    <form [formGroup]="form">

        <mat-form-field appearance="fill">
            <mat-label>{{ "ecmr_external_import.url" | translate }}</mat-label>
            <input formControlName="url" matInput>
            @if (form.get("url")!.hasError('required')) {
                <mat-error>{{ "ecmr_external_import.required_error" | translate }}</mat-error>
            }
            <mat-icon matIconPrefix>link</mat-icon>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton class="mat-warn" mat-dialog-close>
        <mat-icon>close</mat-icon>
        {{ "common.cancel" | translate }}
    </button>
    <button matButton (click)="submit()">
        {{ "ecmr_external_import.import" | translate }}
    </button>
</mat-dialog-actions>