
<div mat-dialog-title id="title" class="d-flex flex-row align-items-center gap-3 p-0">
  {{ "ecmr_external_import.title" | translate }}
</div>

<mat-dialog-content class="d-flex flex-column gap-3 justify-content-center align-items-center">
  <form [formGroup]="form">

    <mat-form-field appearance="fill">
      <mat-label>{{ "ecmr_external_import.url" | translate }}</mat-label>
      <input formControlName="url" matInput>
      @if (form.get("url")?.hasError('required')) {
        <mat-error>{{ "ecmr_external_import.required_error" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "ecmr_external_import.ecmr_id" | translate }}</mat-label>
      <input formControlName="ecmrId" matInput>
      @if (form.get("ecmrId")?.hasError('required')) {
        <mat-error>{{ "ecmr_external_import.required_error" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "ecmr_external_import.share_token" | translate }}</mat-label>
      <input formControlName="shareToken" matInput>
      @if (form.get("shareToken")?.hasError('required')) {
        <mat-error>{{ "ecmr_external_import.required_error" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-dialog-actions [align]="'end'">
      <button mat-flat-button color="primary" (click)="submit()">{{ "ecmr_external_import.import" | translate }}</button>
      <button mat-flat-button color="warn" mat-dialog-close>{{ "common.cancel" | translate }}</button>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>
