.quick-info-container {
  height: calc(100vh - 112px);
}

.header-info-label {
  font-size: 10px;
}

.row {
  align-items: end;
}

.signature-container {
  img {
    background-color: white;
    margin-bottom: 10px;
  }
  flex: 1 1 200px;
}
