.quick-info-container {
  height: calc(100vh - 112px);
}

.header-info-label {
  font-size: 10px;
}

.row {
  align-items: end;
}

.signature-container {
  img {
    background-color: white;
    margin-bottom: 10px;
  }
  flex: 1 1 200px;
}

.fake-panel {
  border: 1px solid rgba(0,0,0,.12);
}

.overview-details-container {
  position: relative;
}

.hover-overlay {
  background-color: color-mix(in srgb, var(--mat-sys-surface-container), transparent 25%);
  z-index: 200000;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  mat-icon, h1 {
    pointer-events: none;
  }

  mat-icon {
    font-size: 150px;
    width: 150px;
    height: 150px;
  }
}

.hover-overlay.error {
  background-color: color-mix(in srgb, var(--mat-sys-error-container), transparent 25%);
  color: var(--mat-sys-on-error-container) !important
}