<h2 mat-dialog-title>{{ (isEditMode ? "group_edit_dialog.edit" : "group_edit_dialog.create") | translate }}</h2>
<mat-dialog-content [formGroup]="groupFormGroup">
    <div class="mt-4 d-flex flex-column">
        <mat-form-field class="row">
            <mat-label>{{ "group_edit_dialog.name" | translate }}</mat-label>
            <input matInput formControlName="name"/>
            @if (groupFormGroup.controls.name.invalid) {
                <mat-error>{{ "common.errors.required" | translate }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="row">
            <mat-label>{{ "group_edit_dialog.description" | translate }}</mat-label>
            <input matInput formControlName="description"/>
            @if (groupFormGroup.controls.description.invalid) {
                <mat-error>{{ "common.errors.required" | translate }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="row" [ngClass]="isEditMode? 'd-none' : ''">
            <mat-label>{{ "group_edit_dialog.parent_group" | translate }}</mat-label>
            <mat-select formControlName="parentId" [compareWith]="compareGroupFn">
                <mat-option [value]="null"/>
                @for (group of groups; track group) {
                    <mat-option [value]="group">{{ group.name }}</mat-option>
                }
            </mat-select>
            @if (groupFormGroup.controls.parentId.invalid) {
                <mat-error>{{ "common.errors.required" | translate }}</mat-error>
            }
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton class="mat-warn" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
        {{ "common.cancel" | translate }}
    </button>
    <button matButton (click)="saveGroup()">
        <mat-icon>save</mat-icon>
        {{ "common.save" | translate }}
    </button>
</mat-dialog-actions>