<mat-toolbar class="d-flex flex-row justify-content-between">
    <button mat-flat-button color="primary" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
        {{ 'common.back' | translate }}
    </button>
    <h6 class="fs-6">{{ headerTextKey | translate }}: {{ referenceId }}</h6>
</mat-toolbar>
<mat-tab-group (selectedIndexChange)="onTabChange($event)" >
    <mat-tab label="{{ 'history.log.tab' | translate }}">
        <app-history-logs [ecmrId]="ecmrId" [referenceId]="referenceId"/>
    </mat-tab>
    <mat-tab label="{{ 'history.access.tab' | translate }}">
        <app-ecmr-access [ecmrId]="ecmrId" [referenceId]="referenceId"/>
    </mat-tab>
</mat-tab-group>
